.page {
  font-family: Courier New, monospace;
  color: white;
  background-color: black;
}

.centered-block {
  margin: auto;
}

.header {
  display: flex;
  height: 20vh;
}

.header__text {
  margin: 0;
}

.chapter {
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hard-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chapter__title {
  padding: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  width: 45%;
}

.card__image {
  width:100%;
  margin: auto;
}

.cards-pool {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo {
  height: 100%;
  border-radius: 50%;
  margin: auto;
}

.footer {
  height: 3vh;
}

.skill__image {
  align-self: center;
  min-width: 90px;
  width: 20%;
  margin: 0 2%;
}

.skill {
  min-width: 300px;
  flex-grow: 1;
  flex-basis: 50%;
  flex-wrap: nowrap;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.skill__text {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
